@import './main.scss';

.prose {
  font-family: 'Arvo', serif;

  h1 {
    color: var(--fg-soft);
    font-size: 16pt;
    text-align: left;
  }

  h2 {
    color: var(--fg-softer);
    margin-bottom: 16px;
    font-size: 14pt;
    text-align: left;
  }

  // h2 + p {
  //   opacity: 0.5;
  // }

  p {
    margin: 16px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
  }

  hr {
    color: var(--c-bg);
    transition: color 0.15s ease-in;
  }
}
