{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "rules": {
    "vue/no-unused-vars": 1,
    "vue/script-setup-uses-vars": 1,
    "vue/html-indent": 2,
    "vue/multiline-html-element-content-newline": "off"
  }
}