$sakura0: rgb(39, 37, 37);
$sakura1: rgb(53, 49, 50);
$sakura2: rgb(66, 62, 63);
$sakura3: rgb(103, 101, 102);
$sakura4: rgb(249, 240, 244);
$sakura5: rgb(235, 229, 231);
$sakura6: rgb(220, 214, 216);
$sakura7: rgb(241, 193, 207);
$sakura8: rgb(232, 155, 177);
$sakura9: rgb(224, 123, 150);
$sakura10: rgb(215, 101, 128);
$sakura11: rgb(224, 77, 80);
$sakura12: rgb(224, 150, 118);
$sakura13: rgb(224, 199, 154);
$sakura14: rgb(190, 223, 169);
$sakura15: rgb(148, 181, 224);


$primary-color: $sakura9;
$primary-hover-color: $sakura10;
$primary-selected-color: $sakura7;

$positive-color: $sakura14;
$positive-color-hover: color.adjust($sakura14, $lightness: -10%);
$positive-color-selected: color.adjust($sakura14, $lightness: 10%);

$negative-color: $sakura11;
$negative-color-hover: color.adjust($sakura11, $lightness: -10%);
$negative-color-selected: color.adjust($sakura11, $lightness: 10%);

$primary-background-color: $sakura4;
$primary-background-color-dark: $sakura0;

$secondary-background-color: $sakura5;
$primary-background-color-hover: $sakura6;

$primary-text-color: $sakura0;
$primary-text-color-dark: $sakura4;

$secondary-text-color: $sakura2;
$secondary-text-on-secondary-color: $sakura2;
$text-color-on-primary: $sakura4;

$placeholder-color: $sakura3;
$disabled-text-color: $sakura3;

$link-color: $sakura10;
$link-accent-color: $sakura11;

$body-font-family: 'Arvo';
$body-font-size: 14px;
$body-font-color: $primary-text-color;
