@use "sass:color";
@import "@/assets/vars/_colors.scss";

:root {
  --primary-color: #{$primary-color};
  --primary-hover-color: #{$primary-hover-color};
  --primary-selected-color: #{$primary-selected-color};

  --positive-color: #{$positive-color};
  --positive-color-hover:  #{$positive-color-hover};
  --positive-color-selected:  #{$positive-color-selected};
  --negative-color: #{$negative-color};
  --negative-color-hover:  #{$negative-color-hover};
  --negative-color-selected:  #{$negative-color-selected};

  --primary-background-color: #{$primary-background-color};
  --secondary-background-color: #{$secondary-background-color};
  --primary-background-color-hover: #{$primary-background-color-hover};

  --primary-text-color: #{$primary-text-color};
  --primary-text-color-dark: #{$primary-text-color-dark};
  --secondary-text-color: #{$secondary-text-color};
  --secondary-text-on-secondary-color: #{$secondary-text-on-secondary-color};
  --text-color-on-primary: #{$text-color-on-primary};

  --placeholder-color: #{$placeholder-color};
  --disabled-text-color: #{$disabled-text-color};

  --link-color: #{$link-color};
  --link-accent-color: #{$link-accent-color};

  --body-font-family:  #{$body-font-family};
  --body-font-size:  #{$body-font-size};
  --body-font-color:  #{$body-font-color};
}


[theme="dark"] {
  --primary-color: #{$primary-color};
  --primary-hover-color: #{$primary-hover-color};
  --primary-selected-color: #{$primary-selected-color};

  --positive-color: #{$positive-color};
  --positive-color-hover:  #{$positive-color-hover};
  --positive-color-selected:  #{$positive-color-selected};
  --negative-color: #{$negative-color};
  --negative-color-hover:  #{$negative-color-hover};
  --negative-color-selected:  #{$negative-color-selected};

  --primary-background-color: #{$primary-background-color-dark};
  --secondary-background-color: #{$secondary-background-color};
  --primary-background-color-hover: #{$primary-background-color-hover};

  --primary-text-color: #{$primary-text-color-dark};
  --secondary-text-color: #{$secondary-text-color};
  --secondary-text-on-secondary-color: #{$secondary-text-on-secondary-color};
  --text-color-on-primary: #{$text-color-on-primary};

  --placeholder-color: #{$placeholder-color};
  --disabled-text-color: #{$disabled-text-color};

  --link-color: #{$link-color};
  --link-accent-color: #{$link-accent-color};

  --body-font-family:  #{$body-font-family};
  --body-font-size:  #{$body-font-size};
  --body-font-color:  #{$body-font-color};
}
