@use "sass:color";

@import "@/assets/abstracts/_mixins.scss";
@import "@/assets/vars/_colors.scss";
@import "@/assets/vars/_themes.scss";
@import "@/assets/scss/typography.scss";
@import "@/assets/scss/layout.scss";


* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid var(--primary-text-color);
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;

  overflow-y: scroll;
  font-family: 'Arvo', sans-serif;
  font-size: 100%;

  @supports (scrollbar-gutter: stable) {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  transition: background-color 0.15s ease-in;
  background-color: var(--primary-background-color);
}


@include mobile {
  body {
    --body-width: calc(100vw - 36px);
  }
}


@include tablet {
  body {
    --body-width: calc(650px + 15vw);
  }
}


@include desktop {
  body {
    --body-width: 100%;
  }
}
