$breakpoint-mobile: "max-width: 799px";
$breakpoint-tablet: "min-width: 800px";
$breakpoint-desktop: "min-width: 1250px";

@mixin mobile {
  @media ($breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media ($breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media ($breakpoint-desktop) {
    @content;
  }
}

@media ($breakpoint-tablet) {
  .desktop-hidden {
    display: none;
  }
}

@media ($breakpoint-mobile) {
  .mobile-hidden {
    display: none;
  }
}
