@import "@/assets/vars/_themes.scss";

$body-font-family: 'Arvo';
$body-font-size: 14px;

.type-general {
  $title: 'Podkova', sans-serif;
  $copy: 'Arvo', sans-serif;

  color: var(--primary-text-color);

  p  {    
    text-align: justify;
  }

  ul {    }

  ol {    }

  h1 {
    font: 2rem $title;
    font-weight: 300;
    padding: 5px 0;
  }

  h2 {    }

  h3 {    }

  a {
    text-decoration: none;
    color: var(--primary-text-color);

    &::before {
      content: "";
      transform-origin: 50% 100% 0px;
      background-color: var(--link-color);
      transition: clip-path 0.3s ease 0s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1) 0s;
      
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      height: 1px;
      clip-path: 
        polygon(0% 0%, 0% 100%, 0px 100%, 0px 0px, 100% 0px, 100% 100%, 0px 100%, 0px 100%, 100% 100%, 100% 0%);
    }

    &:hover {
      color: var(--link-accent-color);
      cursor: pointer;

      &::before {
        transform: translate3d(0px, 2px, 0px) scale3d(1, 2, 1);
        clip-path: 
        polygon(0% 0%, 0% 100%, 100% 100%, 50% 0px, 50% 0px, 50% 100%, 50% 100%, 0px 100%, 100% 100%, 100% 0%)
      }
    }
  }

  .timestamp {
    font: 14px $copy;
    font-weight: 300;
    color: var(--secondary-text-color);
  }

  .tag {
    font: 14px $copy;
    font-weight: 300;
    color: var(--link-color);
  }
}


